

.flexContenedor{
    display: flex;
    height: 300px;
}


.flexContenedorJustificadoDerecha{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.columna1{
    background-color: #8a8a8a;
}
.columna2{
    background-color: white;
}
.columna3{
    background-color: white;
}


  
  